/* Genesis Sample WooCommerce
Loaded on WooCommerce pages */

/* WooCommerce Globals
---------------------------------------------------------------------------- */

.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content {
  max-width: 1140px;
  width: 100%;
}

.woocommerce .entry.product {
  padding: 0;
}

.woocommerce abbr.required,
.woocommerce ins {
  text-decoration: none;
}

.woocommerce ul.products li.product .onsale {
  top: 0.5rem;
  right: 0.5rem;
  left: auto;
  margin: 0;
  background-color: var(--primary-color);
  color: #000;
  border-radius: 4px;
  padding: 0px 8px;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  line-height: 32px;
  min-height: unset;
  min-width: unset;
  text-transform: uppercase;
}

.woocommerce fieldset {
  margin-bottom: 20px;
}

.woocommerce .star-rating {
  padding: 10px;
  color: #febd69;
  max-width: 86px;
  overflow: hidden;
  margin-right: 8px;
}

.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 0;
}

.woocommerce-review-link {
  font-size: 14px;
}

.woocommerce p.stars a {
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  display: table-cell;
}

.woocommerce p.stars a,
.woocommerce p.stars a:focus,
.woocommerce p.stars a:hover {
  outline: 0;
  color: #febd69;
}

.woocommerce .woocommerce-LoopProduct-link {
  display: block;
  flex-shrink: 0; /* IE 11 height fix */
}

/* WooCommerce Blocks
---------------------------------------------------------------------------- */

ul.wc-block-grid__products {
  padding-left: 0;
}

ul.wc-block-grid__products > li {
  list-style-type: none;
}

/* WooCommerce Product Gallery
---------------------------------------------------------------------------- */

.woocommerce .woocommerce-product-gallery__wrapper {
  margin: 0;
}

.woocommerce .woocommerce-product-gallery__trigger {
  border-width: 0;
}

.woocommerce .woocommerce-product-gallery {
  overflow: hidden;
}

.woocommerce .woocommerce-product-gallery .flex-control-nav {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* WooCommerce Shop Page
---------------------------------------------------------------------------- */

.woocommerce .content .entry {
  border-bottom: 0;
}

.woocommerce .content .entry::after,
.woocommerce .content .entry::before,
.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before,
.woocommerce ul.products .product::after,
.woocommerce ul.products .product::before {
  display: none;
}

.woocommerce a.added_to_cart {
  line-height: 1;
}

.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after,
.woocommerce #respond input#submit.loading::after {
  top: 1em;
}

.woocommerce ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.woocommerce ul.products li.product .button,
.woocommerce .woocommerce-ordering,
.woocommerce-page ul.products li.product .button,
.woocommerce-page .woocommerce-ordering {
  margin-right: 0;
  width: 100%;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price .from {
  color: #000;
}

.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product .price {
  color: #0073e5;
}

/* MS Edge Bug Fix */
.woocommerce ul.products li.product a {
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.woocommerce ul.products li.product a:focus {
  outline: none;
}

.woocommerce nav.woocommerce-pagination {
  clear: both;
  margin: 40px 0;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
  margin-left: 2px;
  margin-right: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  padding: 8px 12px;
  text-decoration: none;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: #333;
  color: #fff;
}

/* WooCommerce Product
---------------------------------------------------------------------------- */

.woocommerce ul.products li.product {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  /*-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);*/
  border: 1px solid #cccf;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  overflow: hidden;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(25% - 1rem);
  margin: 16px 16px 0 0;
}

.woocommerce ul.products li.product:focus-within,
.woocommerce ul.products li.product:hover {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.woocommerce ul.products li.product a img {
  margin: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-family: var(--header-font);
  margin: 0 0 1rem;
  color: var(--text-color-dark);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.009375em;
  padding: 8px 16px 0 16px;
  margin-bottom: 0;
}

.woocommerce ul.products .star-rating {
  margin: 4px 16px 0 16px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: var(--price-color);
  font-size: 16px;
  line-height: 1.5;
}

.woocommerce ul.products li.product .price del {
  font-weight: 400;
}

.woocommerce ul.products li.product .price ins {
  font-weight: 500;
}

.woocommerce ul.products li.product .price {
  color: var(--text-color);
  font-size: 16px !important;
  font-weight: 500;
  margin: 0 16px 4px 16px;
}

.woocommerce a small {
  color: var(--text-color);
  margin: 0 16px 0 16px;
}

.woocommerce a small:hover {
  color: var(--text-color);
}

.woocommerce-page ul.products li.product .button {
  margin: 8px 8px 8px 8px;
  display: block;
}

.woocommerce div.product p.price::before,
.woocommerce div.product span.price {
  content: "Price:";
  font-size: 14px;
  color: var(--text-color);
  margin-right: 4px;
}

.woocommerce div.product form.cart .button {
  line-height: 48px;
}

.woocommerce div.product form.cart .variations {
  table-layout: fixed;
}

.woocommerce .woocommerce-variation-price {
  margin-bottom: 20px;
}

/* WooCommerce Product Tabs
---------------------------------------------------------------------------- */

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-color: #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  border-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
  border-bottom: 1px solid #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-bottom-color: #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  display: block;
  padding: 0.5em 1em;
  color: #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  color: #0073e5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
  content: "\f147";
  display: block;
  float: right;
  font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}

.posted_in {
  display: block;
}

.woocommerce-tabs .h2 {
  margin-top: 0;
}

/* WooCommerce Checkout
---------------------------------------------------------------------------- */

.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li {
  list-style-type: none;
}

.woocommerce-cart table.cart td.actions .coupon input.input-text,
.woocommerce-checkout table.cart td.actions .coupon input.input-text,
#add_payment_method table.cart td.actions .coupon input.input-text {
  width: auto;
}

.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row,
#add_payment_method #payment div.form-row {
  margin-bottom: 0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
  margin-bottom: 10px;
}

/* WooCommerce Cart Page
---------------------------------------------------------------------------- */

.woocommerce table.shop_table,
.woocommerce table.shop_table td {
  border-color: #eee;
  border-radius: 0;
  line-height: 1.75;
  word-break: normal;
}

.woocommerce-cart table.cart {
  line-height: 1.75;
}

.woocommerce-cart table.cart td {
  font-size: 18px;
  padding: 10px 12px;
}

.woocommerce table.shop_table .order-number {
  min-width: 75px;
}

.woocommerce-cart table.cart .product-thumbnail {
  min-width: 56px;
}

.woocommerce-cart table.cart th.product-name {
  min-width: 140px;
}

.woocommerce-cart table.cart th.product-price,
.woocommerce-cart table.cart th.product-quantity,
.woocommerce-cart table.cart th.product-subtotal,
.woocommerce-checkout-review-order-table th.product-total {
  min-width: 110px;
}

.woocommerce table.shop_table td.actions {
  padding-top: 15px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
  font-size: 18px;
}

.woocommerce-cart td.product-name dl.variation dd {
  margin-left: 20px;
}

.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
  vertical-align: middle;
}

/* WooCommerce Payment
---------------------------------------------------------------------------- */

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
  background-color: #f5f5f5;
  border-radius: 0;
  padding: 30px;
}

.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
#add_payment_method #payment div.payment_box {
  background-color: #eee;
}

.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before,
#add_payment_method #payment div.payment_box::before {
  display: none;
}

.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment ul.payment_methods {
  border-color: #eee;
}

/* WooCommerce Forms
---------------------------------------------------------------------------- */

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button[type="submit"],
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt {
  background: var(--primary-color);
  background: linear-gradient(
    120deg,
    var(--primary-color) 0%,
    var(--primary-color-gradient) 100%
  );
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  width: auto;
  min-width: 64px;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 1.25px;
  color: var(--primary-color-text) !important;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  /*background-color: #333;
	border: 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	white-space: normal;*/
  width: auto;
}

.woocommerce a.button:focus,
.woocommerce a.button:hover,
.woocommerce a.button.alt:focus,
.woocommerce a.button.alt:hover,
.woocommerce button.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button.alt:focus,
.woocommerce button.button.alt:hover,
.woocommerce input.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button.alt:hover,
.woocommerce input[type="submit"]:focus,
.woocommerce input[type="submit"]:hover,
.woocommerce #respond input#submit:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce #respond input#submit.alt:hover {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: var(--primary-color-gradient);
  border: none;
  outline: none;
}

.woocommerce a.button:active,
.woocommerce a.button.alt:active,
.woocommerce button.button:active,
.woocommerce button.button.alt:active,
.woocommerce input.button:active,
.woocommerce input.button.alt:active,
.woocommerce input[type="submit"]:active,
.woocommerce #respond input#submit:active,
.woocommerce #respond input#submit.alt:active {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: var(--primary-color-gradient);
}

.woocommerce #reviews #comment {
  height: 150px;
}

.woocommerce .quantity .qty {
  font-size: 20px;
  line-height: 38px;
  margin-right: 4px;
  padding: 8px 6px 8px 12px;
  width: 72px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  line-height: 1.5;
  padding: 8px 20px;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce #reviews #comments .star-rating,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  float: none;
  width: 100%;
}

.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
  border-color: #eee;
  padding: 5px 20px;
  width: 150px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce form .form-row .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row.woocommerce-validated .select2-container {
  border-color: #eee;
  border-radius: 0;
}

.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input,
#add_payment_method table.cart input {
  vertical-align: top;
}

.woocommerce .coupon {
  line-height: 1;
}

.woocommerce .coupon .input-text {
  height: 48px;
}

.woocommerce input.button,
.woocommerce input.button[type="submit"],
.woocommerce-cart table.cart td.actions .coupon .input-text {
  width: 100% !important;
}

/* WooCommerce Disabled Buttons
---------------------------------------------------------------------------- */

.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled] {
  background-color: #000;
  color: #fff;
  padding: 16px 24px;
}

.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover {
  background-color: #eee;
  color: #000;
}

/* WooCommerce Account Page
---------------------------------------------------------------------------- */

.woocommerce-account .woocommerce-Address-title h3 {
  font-size: 26px;
}

.woocommerce-account .woocommerce-Address {
  margin-bottom: 20px;
}

.woocommerce-account table.order_details th.product-total {
  min-width: 110px;
}

.woocommerce-MyAccount-navigation {
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 40px;
}

.woocommerce-MyAccount-navigation ul {
  margin-bottom: 0;
  margin-left: 0;
}

.woocommerce-MyAccount-navigation ul li {
  line-height: 1.2;
  list-style-type: none;
  margin-bottom: 15px;
}

.woocommerce-MyAccount-navigation ul li:last-child {
  margin-bottom: 0;
}

.woocommerce-MyAccount-navigation ul li.is-active > a {
  color: #333;
  font-weight: 700;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  display: inline-block;
  margin: 0 10px;
}

.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-right: 0;
  width: 100%;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation ul,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation ul {
  text-align: center;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation li,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation li {
  display: inline-block;
  margin: 0 10px;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-content,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
}

.woocommerce table.my_account_orders .button {
  margin: 5px;
}

/* WooCommerce Breadcrumb
---------------------------------------------------------------------------- */

.woocommerce .woocommerce-breadcrumb {
  font-size: 18px;
  margin-bottom: 40px;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
  color: #000;
}

.woocommerce .woocommerce-breadcrumb a {
  text-decoration: none;
}

.woocommerce .woocommerce-breadcrumb a:focus,
.woocommerce .woocommerce-breadcrumb a:hover {
  color: #0073e5;
}

/* WooCommerce Reviews
---------------------------------------------------------------------------- */

.woocommerce #reviews #comments ol.commentlist li img.avatar {
  background: transparent;
  border: 0;
  margin: 0 16px 24px 0;
  padding: 0;
  position: relative;
  width: 60px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  border-color: #eee;
  border-radius: 0;
  margin-left: 80px;
  background: #fff;
  border-radius: 8px;
  border-color: var(--border);
}

.woocommerce .entry-content #reviews ol > li {
  list-style-type: none;
}

.woocommerce #review_form #respond textarea {
  border-radius: 8px;
  border-color: var(--border);
}

/* WooCommerce Misc
---------------------------------------------------------------------------- */

.woocommerce .archive-description {
  border-bottom: 1px solid var(--border);
}

.woocommerce .archive-description p {
  font-size: 20px;
  max-width: 620px;
}

.woocommerce div.archive-description {
  font-size: 20px;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  background-color: #f5f5f5;
  border-top-color: #0073e5;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
  color: #0073e5;
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
  width: 48%;
}

.woocommerce-message .button.wc-forward {
  margin-bottom: 20px;
  width: 100%;
}

/* WooCommerce Widgets
---------------------------------------------------------------------------- */

/* Woo Search
-------------------------------------------------- */

.woocommerce-product-search {
  overflow: hidden;
  width: 100%;
}

.woocommerce-product-search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Woo Shopping Cart
-------------------------------------------------- */

.woocommerce .widget_shopping_cart ul.cart_list li,
.woocommerce.widget_shopping_cart ul.cart_list li {
  padding-top: 15px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  top: 15px;
}

.woocommerce.widget_shopping_cart .total {
  border-top: 1px solid #eee;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
  margin-bottom: 5px;
}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
  padding-left: 0;
}

/* Woo Product Lists
-------------------------------------------------- */

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  width: 60px;
}

.sidebar ul.product_list_widget li {
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 15px 0 0;
}

.sidebar ul.product_list_widget li:last-child {
  margin-bottom: 0;
  padding-bottom: 15px;
}

/* Woo Filter
-------------------------------------------------- */

.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #eee;
}

.woocommerce.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #0073e5;
}

.woocommerce .widget_layered_nav ul li.chosen a::before,
.woocommerce .widget_layered_nav_filters ul li a::before,
.woocommerce .widget_rating_filter ul li.chosen a::before {
  color: #0073e5;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
  top: -0.28em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce.widget_price_filter .price_slider_amount .button {
  font-size: 16px;
}

/* Woo Active Filters
--------------------------------------------- */

.woocommerce.widget_layered_nav_filters ul li {
  margin: 0 20px 20px 0;
}

/* Woo Recent Reviews
-------------------------------------------------- */

.woocommerce.widget_recent_reviews .reviewer {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Minicart
-------------------------------------------------- */

.mini-cart {
  line-height: 10px;
  margin: 6px 0 6px 0;
  padding: 4px 16px 4px 0;
  position: relative;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  width: 48px;
  grid-column: 4;
  grid-row: 1;
  text-align: center;
  width: 74px;
  height: 36px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.mini-cart:hover,
.mini-cart:active,
.mini-cart:focus {
  color: #fff;
  outline: #ccc solid 1px;
  outline-color: #ccc;
  outline-style: solid;
  outline-width: 1px;
}

.mini-cart::before {
  content: "\f174";
  font-family: dashicons;
  font-size: 16px;
  top: 13px;
  right: 8px;
  position: absolute;
}

.cart-count {
  font-size: 16px;
  color: var(--important-color);
  border: 2px solid var(--site-header-bg);
  line-height: 1;
  font-weight: 600;
}

.widget_nav_menu {
  width: auto;
  float: right;
}

.woocommerce-result-count {
  line-height: 40px;
}

/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) {
  .woocommerce form .form-row-first,
  .woocommerce-page form .form-row-first,
  .woocommerce #reviews #comments .star-rating {
    float: left;
    width: 47%;
  }

  .woocommerce form .form-row-last,
  .woocommerce-page form .form-row-last {
    float: right;
    width: 47%;
  }

  .woocommerce ul.products li.product .button,
  .woocommerce .woocommerce-ordering,
  .woocommerce-page ul.products li.product .button,
  .woocommerce-page .woocommerce-ordering {
    margin-right: 1rem;
    width: auto;
  }

  .woocommerce input.button,
  .woocommerce input.button[type="submit"],
  .woocommerce-cart table.cart td.actions .coupon .input-text {
    width: auto !important;
  }

  .woocommerce-message .button.wc-forward {
    margin-bottom: 0;
    width: auto;
  }

  .woocommerce-cart table.cart td.actions .coupon .input-text {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 860px) {
  .full-width-content
    .woocommerce
    ul.products
    .full-width-content.woocommerce
    ul.products {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 960px) {
  .full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0 0 0 16px;
  }

  .full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #f5f5f5;
    display: inline-block;
    margin: 0 -5px;
  }

  .full-width-content.woocommerce
    div.product
    .woocommerce-tabs
    ul.tabs
    li.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

  .full-width-content.woocommerce
    div.product
    .woocommerce-tabs
    ul.tabs
    li.active
    a::after {
    display: none;
  }

  .woocommerce ul.products li.product .onsale {
    line-height: 24px;
  }
}

@media only screen and (min-width: 1140px) {
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0 0 0 1em;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #f5f5f5;
    display: inline-block;
    margin: 0 -5px;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
    display: none;
  }
}

@media only screen and (min-width: 1140px) {
  .content-sidebar .woocommerce ul.products,
  .sidebar-content .woocommerce ul.products,
  .content-sidebar.woocommerce ul.products,
  .sidebar-content.woocommerce ul.products {
    justify-content: flex-start;
  }
}
