/*
Theme Name: Genesis Sample
Theme URI: https://demo.studiopress.com/
Description: This is the sample theme created for the Genesis Framework.
Author: StudioPress
Author URI: https://www.studiopress.com/

Version: 3.2.0

Tags: accessibility-ready, block-styles, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, left-sidebar, one-column, right-sidebar, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, two-columns, wide-blocks

Template: genesis

License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

Text Domain: genesis-sample
*/

/* Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Container
	- Site Inner
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Genesis Simple FAQ
	- WPForms
- Skip Links
- Site Header
	- Title Area
- Site Navigation
	- Responsive Menu
	- Header Menu
	- Footer Menu
- Content Area
	- Entry Content
	- Entry Meta
	- Pagination
	- Entry Comments
- Sidebar
- Footer Widgets
- Site Footer
- Media Queries
	- Min-width: 960px
		- Site Header
		- Genesis Menu
		- Responsive Menu
		- Header Menu
		- Site Inner
		- Content
		- Sidebar
		- Author Box
		- After Entry
		- Column Classes
		- Entry Misc.
		- Footer Widgets
- Print Styles
*/

/* HTML5 Reset
---------------------------------------------------------------------------- */

/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
---------------------------------------------------------------------------- */
/* stylelint-disable */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
/* stylelint-enable */

/* Box Sizing
  --------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Float Clearing
  --------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table;
}

/* Defaults
  ---------------------------------------------------------------------------- */

/* Typographical Elements
  --------------------------------------------- */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fafafa;
  font-family: var(--body-font);
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color, #555);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;

  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
  color: var(--important-color);
}

p {
  margin: 0 0 30px;
  padding: 0;
}

article p {
  font-size: 20px;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: #eee;
  margin: 1.65em auto;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

mark {
  background: #ddd;
  color: #333;
}

blockquote {
  margin: 30px;
}

/* Headings
  --------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  margin: 0 0 1rem;
  color: var(--text-color-dark);
  font-weight: 400;
}

h1,
.as-h1 {
  font-size: 3rem;
  line-height: 3.125rem;
  letter-spacing: normal;
}

h2,
.as-h2 {
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.0073529412em;
}

h3,
.as-h3,
.woocommerce div.product .product_title,
.woocommerce-Reviews-title,
.comment-reply-title,
h2.woocommerce-Reviews-title,
.woocommerce-tabs h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 500;
  color: var(--text-color-dark);
}

h4,
.as-h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.009375em;
  font-weight: 500;
}

h5,
.as-h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
}

h6,
.as-h6 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
}

/* Objects
  --------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}

/* Gallery
  --------------------------------------------- */

.gallery {
  overflow: hidden;
}

.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
  border: 1px solid #999;
  outline: none;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n + 1),
.gallery-columns-3 .gallery-item:nth-child(3n + 1),
.gallery-columns-4 .gallery-item:nth-child(4n + 1),
.gallery-columns-5 .gallery-item:nth-child(5n + 1),
.gallery-columns-6 .gallery-item:nth-child(6n + 1),
.gallery-columns-7 .gallery-item:nth-child(7n + 1),
.gallery-columns-8 .gallery-item:nth-child(8n + 1),
.gallery-columns-9 .gallery-item:nth-child(9n + 1) {
  clear: left;
}

.gallery-item {
  float: left;
  margin: 0 0 30px;
  text-align: center;
}

/* PSWP 
  ------------------------------------------- */

.pswp {
  z-index: 20000;
}

/* Forms
  --------------------------------------------- */

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 7px 16px;
  width: 100%;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

::placeholder {
  color: #333;
  opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form button[type="submit"],
.button {
  background-color: #333;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto;
  text-transform: uppercase;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.site-container
  div.wpforms-container-full
  .wpforms-form
  input[type="submit"]:focus,
.site-container
  div.wpforms-container-full
  .wpforms-form
  input[type="submit"]:hover,
.site-container
  div.wpforms-container-full
  .wpforms-form
  button[type="submit"]:focus,
.site-container
  div.wpforms-container-full
  .wpforms-form
  button[type="submit"]:hover,
.button:focus,
.button:hover {
  background-color: #0073e5;
  border-width: 0;
  color: #fff;
}

.entry-content .button:focus,
.entry-content .button:hover {
  color: #fff;
}

.button {
  display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

/* Tables
  --------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  width: 100%;
  word-break: break-all;
}

tbody {
  border-bottom: 1px solid #eee;
}

td,
th {
  line-height: 2;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.5em;
}

tr {
  border-top: 1px solid #eee;
}

th {
  font-weight: 600;
  padding: 0.5em;
}

/* Screen Reader Text
  --------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: 700;
  height: auto;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.more-link {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

/* Structure and Layout
  ---------------------------------------------------------------------------- */

/* Site Container
  --------------------------------------------- */

.site-container {
  animation: fadein 1s;
  word-wrap: break-word;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Site Inner
  --------------------------------------------- */

.site-inner {
  clear: both;
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - 96px);
}

/* Common Classes
  ---------------------------------------------------------------------------- */

/* Avatar
  --------------------------------------------- */

.avatar {
  border-radius: 50%;
  float: left;
}

.author-box .avatar,
.alignleft .avatar {
  margin-right: 20px;
}

.alignright .avatar {
  margin-left: 20px;
}

.comment .avatar {
  margin: 0 15px 20px 0;
}

/* Genesis
  --------------------------------------------- */

.after-entry,
.archive-description,
.author-box {
  margin-bottom: 40px;
}

.after-entry {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 20px 30px;
}

.after-entry .widget:last-of-type {
  margin-bottom: 0;
}

.breadcrumb {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 16px;
}

.genesis-title-hidden .breadcrumb {
  margin-top: 40px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* Search Form
  --------------------------------------------- */

.search-form {
  overflow: hidden;
}

.entry-content .search-form {
  margin-bottom: 40px;
  width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px;
}

.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Titles
  --------------------------------------------- */

.entry-title {
  /*font-size: 30px;*/
  margin-bottom: 10px;
}

.entry-title a,
.sidebar .widget-title a {
  color: var(--link-color);
  text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
  color: var(--important-color);
}

.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.genesis-title-hidden .site-inner {
  padding-top: 0;
}

/* WordPress
  --------------------------------------------- */

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter,
.singular-image {
  display: block;
  margin: 0 auto 30px;
}

img.alignnone,
.alignnone {
  margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 20px 20px;
}

figcaption,
.gallery-caption,
.wp-caption-text {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.0333333333em;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 30px;
}

.entry-content {
  display: grid;
  max-width: 1440px;
}
/* Widgets
  ---------------------------------------------------------------------------- */

.widget {
  margin-bottom: 40px;
}

.widget p:last-child,
.widget ul > li:last-of-type {
  margin-bottom: 0;
}

.widget ul > li {
  margin-bottom: 10px;
}

.widget ul > li:last-of-type {
  padding-bottom: 0;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

/* Featured Content
  --------------------------------------------- */

.featured-content .entry {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.featured-content .entry:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.featured-content .entry-title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

/* Icons
  ---------------------------------------------------------------------------- */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* colors
  ---------------------------------------------------------------------------- */
.is-primary {
  color: var(--link-color);
}

.is-important {
  color: var(--important-color);
}

.image-background {
  background-image: url(http://rpg-bundle-template.local/wp-content/uploads/2020/04/Intrigenspiel__Leidenschaft-1-1024x576.jpg);
  background-repeat: no-repeat;
}
/* Plugins
  ---------------------------------------------------------------------------- */
.dashicons,
.dashicons-before:before {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

/* Plugins
  ---------------------------------------------------------------------------- */

/* Genesis eNews Extended
  --------------------------------------------- */

.after-entry .enews {
  text-align: center;
  padding: 10px;
}

.sidebar .enews {
  background-color: #f5f5f5;
  padding: 30px;
}

.enews-widget input {
  font-size: 16px;
  margin-bottom: 10px;
}

.after-entry .enews-widget input {
  text-align: center;
}

.enews-widget input[type="submit"] {
  margin: 0;
  width: 100%;
}

.enews form + p {
  margin-top: 20px;
}

/* Genesis Simple FAQ
  --------------------------------------------- */

.gs-faq__question {
  background: transparent;
  border-bottom: 1px solid #eee;
  color: #333;
  padding-left: 0;
  padding-right: 0;
}

.gs-faq__question:focus,
.gs-faq__question:hover {
  background: transparent;
  color: #0073e5;
}

.gs-faq__question::after {
  content: "\f132";
  font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  float: right;
}

.gs-faq__question.gs-faq--expanded::after {
  content: "\f460";
}

/* WP Forms
  --------------------------------------------- */

.entry-content .wpforms-container {
  margin-bottom: 40px;
}

.entry-content .wpforms-form .wpforms-field {
  clear: both;
  margin: 20px 0;
  overflow: hidden;
}

.site-container .wpforms-container .wpforms-form .wpforms-field input {
  border-radius: 0;
  height: auto;
  padding: 15px;
}

.site-container .entry-content .wpforms-form .wpforms-field-label {
  font-weight: 600;
}

.site-container .entry-content .wpforms-form .wpforms-field-sublabel {
  font-size: 14px;
  font-weight: 300;
}

.entry-content .wpforms-form .wpforms-field-hp {
  display: none !important;
  left: -9000px !important;
  position: absolute !important;
}

.site-container .entry-content .wpforms-form textarea {
  padding: 15px;
}

.site-container .entry-content .wpforms-form textarea.wpforms-field-small {
  height: 120px;
}

.site-container .entry-content .wpforms-form textarea.wpforms-field-medium {
  height: 200px;
}

.site-container .entry-content .wpforms-form textarea.wpforms-field-large {
  height: 300px;
}

/* Skip Links
  ---------------------------------------------------------------------------- */

.genesis-skip-link {
  margin: 0;
}

.genesis-skip-link .skip-link-hidden {
  display: none;
  visibility: hidden;
}

.genesis-skip-link li {
  height: 0;
  list-style: none;
  width: 0;
}

/* Display outline on focus */
:focus {
  outline: #ccc solid 1px;
}

/* Site Header
  ---------------------------------------------------------------------------- */

.site-header {
  background: var(--site-header-bg, #333);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 0;
}

.site-header > .wrap {
  display: grid;
  grid-template-columns: 48px auto 1fr 84px;
}

/* Site header search
  --------------------------------------------- */

.site-header-search {
  background: var(--site-header-bg);
  padding: 6px 16px;
  grid-row: 2;
  grid-column: 1 / 5;
}

.site-header-search .search-form {
  display: grid;
  grid-template-columns: 1fr 96px;
}

.site-header-search .search-form-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  grid-column: 1;
  line-height: 20px;
  font-size: 14px;
  height: 36px;
}

.site-header-search .search-form-input::placeholder {
  color: #888;
}

.site-header-search .search-form input[type="submit"] {
  grid-column: 2;
  grid-row: 1;
  margin-top: 0;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Title Area
  --------------------------------------------- */

.title-area {
  grid-column: 2;
  grid-row: 1;
}

.wp-custom-logo .title-area {
  max-width: 350px;
  width: 100%;
}

.wp-custom-logo .title-area img {
  width: auto;
}

.site-title {
  margin-bottom: 0;
}

.site-title {
  margin-bottom: 0;
  height: 48px;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
  text-decoration: none;
  color: var(--site-header-text, #fff);
  display: inline-block;
  line-height: 48px;
  font-size: 20px;
  font-weight: 600;
  padding: 0 16px;
  color: #fff;
}

.site-description,
.wp-custom-logo .site-title {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* Site Navigation
  ---------------------------------------------------------------------------- */

.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%;
  min-height: 100vh;
}

.genesis-nav-menu .menu-item {
  display: block;
  float: none;
  position: relative;
  padding: 2px 8px;
}

.genesis-nav-menu a {
  color: var(--text-color-dark, #111);
  display: block;
  font-size: 16px;
  outline-offset: -1px;
  padding: 8px;
  text-decoration: none;
  line-height: 32px;
  border-radius: 4px;
  font-weight: 500;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: var(--primary-color-text, #111);
  text-decoration: none;
  background: var(--grey-light, #f5f5f5);
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
  width: 100%;
}

.genesis-nav-menu .sub-menu {
  clear: both;
  display: none;
  left: -9999px;
  margin: 0;
  opacity: 1;
  padding-left: 15px;
  position: static;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  font-size: 14px;
  position: relative;
  word-wrap: break-word;
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
  position: relative;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  display: block;
  left: auto;
  opacity: 1;
}

.divider-before {
  border-top: 1px solid var(--grey-medium);
}

/* Responsive Menu
  --------------------------------------------- */

.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-responsive-menu {
  display: none;
  position: relative;
}

.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
  display: none;
}

.menu-toggle,
.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: #333;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible;
  color: var(--site-header-text, #fff);
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: transparent;
  border-width: 0;
  color: var(--site-header-text, #fff);
  outline: 0;
}

.menu-toggle {
  line-height: 10px;
  padding: 7px 0;
  position: relative;
  z-index: 1000;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  margin: 0;
}

.menu-toggle.activated::before {
  content: "\f335";
}

.site-header .menu-toggle::before {
  position: relative;
  text-rendering: auto;
  display: block;
  top: 0px;
  width: 100%;
  text-align: center;
  display: block;
  padding-left: 2px;
}

.sub-menu-toggle {
  float: right;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.sub-menu .sub-menu-toggle {
  padding: 12px 10px;
}

.sub-menu-toggle::before {
  display: inline-block;
  text-rendering: auto;
  transform: rotate(0);
  transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
  transform: rotate(180deg);
}

/* Header Menu
  --------------------------------------------- */

.nav-primary {
  clear: left;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #fff;
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 48px;
  z-index: 1000;
}

/* Footer Menu
  --------------------------------------------- */

.nav-secondary {
  margin-top: 10px;
}

.nav-secondary .genesis-nav-menu {
  line-height: 1.5;
}

.nav-secondary .menu-item {
  display: inline-block;
}

.nav-secondary a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

/* Content Area
  ---------------------------------------------------------------------------- */

/* Entry Content
  --------------------------------------------- */

.entry {
  margin-bottom: 40px;
}

.entry-content ol,
.entry-content ul {
  margin-bottom: 30px;
  padding-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ul > li,
.entry-content ul ul > li {
  list-style-type: circle;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #f5f5f5;
}

.content .sticky {
  background-color: #f5f5f5;
  padding: 30px;
}

/* Entry Meta
  --------------------------------------------- */

p.entry-meta {
  font-size: 16px;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 20px;
}

.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* Pagination
  --------------------------------------------- */

.pagination {
  clear: both;
  margin: 60px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}

.archive-pagination li a {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 8px 12px;
  text-decoration: none;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: #333;
  color: #fff;
}

/* Entry Comments
  --------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px;
}

.comment-list li {
  padding: 40px 0 0 30px;
}

.comment-list .depth-1 {
  padding-left: 0;
}

.comment-header {
  margin-bottom: 30px;
}

.comment-content {
  clear: both;
}

.comment-content ul > li {
  list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.comment-header p {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}

.comment-form-cookies-consent label {
  display: inline;
  padding-left: 10px;
}

/* Sidebar
  ---------------------------------------------------------------------------- */

.sidebar {
  font-size: 16px;
  line-height: 1.5;
}

.sidebar .widget {
  margin-bottom: 40px;
}

.sidebar p {
  margin-bottom: 20px;
}

/* Footer Widgets
  ---------------------------------------------------------------------------- */

.footer-widgets {
  border-top: 1px solid #eee;
  background-color: #fff;
  clear: both;
  padding: 60px 0;
}

.footer-widgets .wrap {
  margin-left: auto;
  margin-right: auto;
}

.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0;
}

/* Site Footer
  ---------------------------------------------------------------------------- */

.site-footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 15px;
  line-height: 1.5;
  padding: 30px;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
}

/* Media Queries
  ---------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) {
  table {
    table-layout: auto;
    word-break: normal;
  }
}

@media only screen and (min-width: 960px) {
  /* 960 >Headings
  --------------------------------------------- */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font);
    color: var(--text-color-dark);
    font-weight: 400;
  }

  h1,
  .as-h1 {
    margin: 2rem 0 1rem 0;
    font-size: 60px;
    line-height: 3.125rem;
    letter-spacing: -0.5px;
    font-weight: 300;
  }

  h2,
  .as-h2 {
    margin: 2rem 0 1rem 0;
    font-size: 3rem;
    line-height: 3.125rem;
    letter-spacing: normal;
  }

  h3,
  .as-h3,
  .woocommerce div.product .product_title,
  .woocommerce-Reviews-title {
    margin: 2rem 0 0.5rem 0;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.0073529412em;
  }

  h4,
  .as-h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    font-weight: 500;
  }

  h5,
  .as-h5 {
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.009375em;
    font-weight: 500;
  }

  h6,
  .as-h6 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: 0.0071428571em;
  }

  /* 960 > Site Header
	  --------------------------------------------- */

  .site-header > .wrap {
    display: grid;
    grid-template-columns: 0 auto 1fr 96px;
  }

  .site-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .admin-bar .site-header {
    top: 32px;
  }

  /* 960 > Genesis Menu
	  --------------------------------------------- */

  .menu-primary {
    margin-left: 16px;
  }

  .genesis-nav-menu .menu-item {
    display: inline-block;
  }

  .genesis-nav-menu .menu-item:focus,
  .genesis-nav-menu .menu-item:hover {
    position: relative;
  }

  .genesis-nav-menu > .menu-bold > a {
    font-weight: 700;
  }

  .genesis-nav-menu > .menu-highlight > a {
    background-color: #333;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    margin-left: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .genesis-nav-menu > .menu-highlight > a:focus,
  .genesis-nav-menu > .menu-highlight > a:hover {
    background-color: #0073e5;
  }

  .genesis-nav-menu .sub-menu,
  .genesis-nav-menu .sub-menu a {
    width: 180px;
  }

  .genesis-nav-menu .sub-menu {
    border-top: 1px solid #eee;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    transition: opacity 0.4s ease-in-out;
  }

  .genesis-nav-menu .sub-menu a {
    border: 1px solid #eee;
    border-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -46px 0 0 179px;
  }

  .divider-before {
    border-top: 0;
    position: relative;
  }

  .divider-before::before {
    content: " ";
    font-family: var(--body-font);
    background: #fffc;
    width: 1px;
    height: 24px;
    position: absolute;
    left: -8px;
    top: 4px;
  }

  .divider-before {
    margin-left: -2px;
  }

  .divider-after {
    margin-right: 11px;
  }

  /* 960 > Responsive Menu
	  --------------------------------------------- */

  .genesis-responsive-menu {
    display: block;
    padding-top: 15px;
    background-color: transparent;
  }

  .menu-toggle,
  .sub-menu-toggle {
    display: none;
    visibility: hidden;
  }

  /* 960 > Header Search
	  --------------------------------------------- */

  .site-header-search {
    grid-row: 1;
    grid-column: 3;
  }

  /* 960 > Header Menu
	  --------------------------------------------- */

  .nav-primary {
    grid-column: 1 / 4;
    grid-row: 2;
    position: relative;
    width: unset;
    padding: 6px;
    top: unset;
  }

  .nav-primary .genesis-nav-menu a {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    border: 0px solid transparent;
    line-height: 32px;
    padding: 0 12px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 400;
  }

  .nav-primary .genesis-nav-menu a:hover {
    background: transparent;
    color: var(--primary-color);
    border-radius: 4px;
    border: 0px solid var(--primary-color);
    outline: #ccc solid 1px;
  }

  .nav-primary .genesis-nav-menu .current-menu-item a {
    color: var(--primary-color);
    /*outline: #fffc solid 1px;*/
  }

  .nav-primary .menu-item {
    padding: 0;
  }

  .genesis-nav-menu {
    min-height: unset;
  }

  /* 960 > site-title
  	  --------------------------------------------- */

  .site-title {
    margin: 0;
    height: 36px;
    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 8px;
    margin-inline-end: 0;
  }

  .site-title a,
  .site-title a:focus,
  .site-title a:hover {
    padding: 0 16px 0 24px;
    position: relative;
    line-height: 36px;
    color: var(--primary-color);
  }

  .site-title a:focus,
  .site-title a:hover {
    outline: #fffc solid 1px;
  }

  .site-title a:hover::before {
    content: "\f102";
    font-family: dashicons;
    font-size: 16px;
    top: 0;
    left: 3px;
    position: absolute;
    color: #fffc;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* 960 > Site-Inner
	  --------------------------------------------- */

  .site-inner {
    max-width: 1140px;
  }

  .woocommerce.archive .site-inner {
    max-width: unset;
    width: 100vw;
    max-width: 100vw;
  }

  /* 960 > Content
	  --------------------------------------------- */

  .content {
    float: left;
    width: calc(100% - 302px);
    padding: 48px;
    margin: 0 auto;
    display: block;
  }

  .woocommerce.archive .content-sidebar-wrap {
    /*max-width: 1440px;*/
    max-width: 100vw;
    display: grid;
    grid-template-columns: 285px 1fr 285px;
    gap: 48px;
  }

  .woocommerce.archive .content {
    float: unset;
    max-width: 1440px;
    padding: 48px;
    margin: 0 auto;
    grid-column: 2;
    grid-row: 1;
    display: block;
  }

  .full-width-content .content {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* 960 > Sidebar
	  --------------------------------------------- */

  .sidebar {
    grid-column: 3;
    grid-row: 1;
    width: 285px;
    background: #fff;
    padding: 16px;
  }

  .woocommerce.archive .sidebar {
    float: unset;
    border-right: 1px solid var(--border);
    background: #fff;
    min-height: calc(100vh - 96px);
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .sidebar-content .sidebar {
    float: left;
  }

  /* 960 > Author Box
	  --------------------------------------------- */

  .author-box {
    background-color: #f5f5f5;
    padding: 30px;
  }

  /* 960 > After Entry
	  --------------------------------------------- */

  .after-entry {
    padding: 40px 60px;
  }

  .after-entry .enews {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* 960 > Column Classes
	  --------------------------------------------- */

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    float: left;
    margin-left: 2.564102564102564%;
  }

  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.717948717948715%;
  }

  .one-third,
  .two-sixths {
    width: 31.623931623931625%;
  }

  .four-sixths,
  .two-thirds {
    width: 65.81196581196582%;
  }

  .one-fourth {
    width: 23.076923076923077%;
  }

  .three-fourths {
    width: 74.35897435897436%;
  }

  .one-sixth {
    width: 14.52991452991453%;
  }

  .five-sixths {
    width: 82.90598290598291%;
  }

  .first {
    clear: both;
    margin-left: 0;
  }

  /* Entry Misc.
	  --------------------------------------------- */

  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings {
    padding-bottom: 48px;
  }

  /* Footer Widgets
	  --------------------------------------------- */

  .footer-widgets .wrap {
    max-width: 1140px;
  }

  .footer-widget-area {
    float: left;
    margin-bottom: 0;
    width: calc(100% / 3);
  }
}

/* Print Styles
  ---------------------------------------------------------------------------- */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    box-shadow: none !important;
    color: #333 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]::after,
  a[href^="#"]::after,
  .site-title > a::after {
    content: "";
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .content,
  .content-sidebar {
    width: 100%;
  }

  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important;
  }

  .title-area {
    text-align: center;
    width: 100%;
  }

  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0;
  }

  .site-inner {
    padding-top: 0;
    position: relative;
  }

  .author-box {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3;
  }

  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  blockquote,
  pre,
  table {
    page-break-inside: avoid;
  }

  dl,
  ol,
  ul {
    page-break-before: avoid;
  }
}

/* Drop Caps
---------------------------------------------------------------------------- */

.site-container p.has-drop-cap:not(:focus)::first-letter {
  margin: 0.02em 0.08em 0 -0.08em;
}

.site-container p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
.site-container p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
  margin-right: 0.01em;
}

/* Paragraphs
---------------------------------------------------------------------------- */

.alignfull:not(.has-background)
  .wp-block-group__inner-container
  > p:not(.has-background-color) {
  padding-left: 30px;
  padding-right: 30px;
}

/* Headings
---------------------------------------------------------------------------- */

h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
  color: #f5f5f5;
}

/* Background Color
---------------------------------------------------------------------------- */

.site-container p.has-background {
  padding: 25px 30px;
}

.site-container p.has-background.box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.site-container p.has-text-color a,
.site-container p.has-background a {
  color: inherit;
}

.site-container p.has-background a:focus,
.site-container p.has-background a:hover,
.site-container p.has-text-color a:focus,
.site-container p.has-text-color a:hover {
  color: inherit;
  text-decoration: none;
}

.site-container p.has-background.light-text a {
  color: #fff;
  text-decoration: underline;
}

.site-container p.has-background.light-text a:focus,
.site-container p.has-background.light-text a:hover {
  text-decoration: none;
}

/* Alignment
---------------------------------------------------------------------------- */

.has-text-align-center {
  text-align: center;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-right {
  text-align: right;
}

.wp-block-button.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft {
  margin-right: 16px;
}

.wp-block-button.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright {
  margin-left: 16px;
}

.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
  margin-bottom: 30px;
}

.full-width-content .entry-content > .alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}

.content-sidebar .site-container .alignfull,
.sidebar-content .site-container .alignfull {
  margin: 0 0 2em;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .wp-block-button.home-contact {
    float: left;
    margin-left: 0;
  }
}

/* Columns
---------------------------------------------------------------------------- */

.site-container .wp-block-columns.alignfull {
  padding: 0 30px;
}

.wp-block-column {
  border-radius: 8px;
  /*background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);*/
  /*-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1rem;
  overflow: hidden;
}

.has-border {
  border-top: 1px solid var(--grey-dark);
  border-bottom: 1px solid var(--grey-dark);
}

.wp-block-column h3,
.wp-block-column .as-h3 {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
}

.wp-block-column p {
  padding: 0 1rem 0.5rem 1rem;
  margin: 0;
}

.wp-block-column .wp-block-image {
  margin-bottom: 0;
  height: 194px;
  overflow: hidden;
}

.wp-block-column .wp-block-image img {
  border-radius: 0;
  padding-bottom: 0.5rem;
}

.wp-block-column .wp-block-buttons {
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 0;
}

.site-container .wp-block-column .wp-block-button .wp-block-button__link,
.site-container
  .wp-block-column
  .wp-block-button
  .wp-block-button__link:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Cover Image
---------------------------------------------------------------------------- */

.full-width-content .entry-content > .wp-block-cover.alignfull {
  width: 100vw;
}

.site-container .wp-block-cover .wp-block-cover-text {
  font-size: 48px;
}

/* Buttons
---------------------------------------------------------------------------- */

.wp-block-buttons {
  margin-bottom: 2rem;
}
.ab-block-cta .ab-button {
  font-weight: 500;
}

.wp-block-buttons .wp-block-button {
  margin: 0 8px 0 0;
}

.site-container .wp-block-button .wp-block-button__link,
.search-form input[type="submit"] {
  background: var(--primary-color);
  background: linear-gradient(
    120deg,
    var(--primary-color) 0%,
    var(--primary-color-gradient) 100%
  );
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  width: auto;
  min-width: 64px;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 1.25px;
  color: var(--primary-color-text) !important;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.site-container .wp-block-button.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border: 2px solid currentColor;
  padding: 13px 28px;
}

.site-container .wp-block-button .wp-block-button__link:focus,
.site-container .wp-block-button .wp-block-button__link:hover,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:focus,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:hover {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: var(--primary-color-gradient);
}

.site-container .wp-block-button .wp-block-button__link:active,
.site-container
  .wp-block-button.is-style-outline
  .wp-block-button__link:active {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: var(--primary-color-gradient);
}

/* Images
---------------------------------------------------------------------------- */

.wp-block-image img {
  border-radius: 8px;
  overflow: hidden;
}

/* Blockquotes and captions
---------------------------------------------------------------------------- */

.site-container .wp-block-pullquote,
.site-container .wp-block-quote {
  border: none;
  margin: 24px 24px 36px;
}

.wp-block-pullquote.alignleft {
  margin: 0 2em 1.5em 0;
}

.wp-block-pullquote.alignright {
  margin: 0 0 1.5em 2em;
}

.site-container .wp-block-pullquote p,
.site-container .wp-block-quote p {
  font-size: 21px;
  font-style: italic;
  line-height: 1.8;
  margin-bottom: 42px;
}

.site-container .wp-block-pullquote p,
.site-container .wp-block-quote.is-style-large p {
  font-size: 32px;
}

.site-container .wp-block-pullquote.is-style-solid-color p {
  color: #fff;
  margin-bottom: 42px;
  text-align: center;
}

.site-container .wp-block-pullquote.is-style-solid-color {
  background-color: #333;
}

.wp-block-pullquote.is-style-solid-color.alignleft blockquote,
.wp-block-pullquote.is-style-solid-color.alignright blockquote {
  max-width: 80%;
}

.site-container
  .wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
  border: 2px solid;
  border-left: none;
  border-right: none;
}

.site-container .wp-block-pullquote cite,
.site-container .wp-block-quote cite {
  color: #666;
  display: block;
  font-size: 16px;
  font-style: italic;
  margin-top: -25px;
  text-align: inherit;
  text-transform: none;
}

.site-container .wp-block-pullquote cite {
  text-align: center;
}

.site-container .wp-block-pullquote.is-style-solid-color cite {
  color: #fff;
  font-style: italic;
}

.site-container .wp-block-pullquote .has-text-color cite,
.site-container .wp-block-pullquote .has-text-color p {
  color: currentColor;
}

.blocks-gallery-caption {
  width: 100%;
}

.blocks-gallery-item figcaption {
  margin-bottom: 0;
}

/* Category Block
---------------------------------------------------------------------------- */

.site-container .wp-block-categories {
  margin-left: 0;
  padding-left: 0;
}

.site-container .wp-block-categories li {
  list-style-type: none;
}

.site-container .wp-block-categories.aligncenter {
  text-align: center;
}

.site-container .wp-block-categories.alignfull {
  padding: 0 30px;
}

.site-container .wp-block-categories .children {
  padding-left: 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */

.site-container .wp-block-latest-posts {
  margin-left: 0;
  padding-left: 0;
}

.site-container .wp-block-latest-posts li {
  list-style-type: none;
}

.site-container .wp-block-latest-posts.aligncenter {
  text-align: center;
}

.site-container .wp-block-latest-posts.alignfull {
  padding: 0 30px;
}

/* Atomic Blocks
---------------------------------------------------------------------------- */

.ab-block-post-grid h2 a {
  text-decoration: none;
}

@media only screen and (max-width: 510px) {
  .ab-block-container.alignfull::before {
    content: " ";
    display: table;
  }

  .ab-block-container.alignfull::after {
    clear: both;
    content: " ";
    display: table;
  }
}

/* Other Blocks
---------------------------------------------------------------------------- */

.wp-block-preformatted,
.wp-block-verse {
  font-size: 16px;
}

.wp-block-preformatted {
  white-space: pre-wrap;
}

hr.wp-block-separator {
  border: none;
  border-bottom: 1px solid currentColor;
  color: #eee;
  margin: 1.65em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

.wp-block-separator.is-style-dots {
  color: #333;
}

.wp-block-audio audio {
  display: inline-block;
  width: 100%;
}

.site-container .blocks-gallery-grid,
.site-container .wp-block-gallery {
  padding-left: 0;
}

.wp-block-table.is-style-stripes {
  border-bottom-width: 0;
}

.full-width-content .site-container .wp-block-table.alignfull {
  margin: 0;
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .full-width-content .site-container > .wp-block-table.alignwide {
    width: calc(100% + 360px);
  }

  .full-width-content .site-container > .wp-block-table.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    width: 100vw;
  }
}

@media only screen and (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile figure {
    margin-bottom: 20px;
  }
}

/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (min-width: 960px) {
  .full-width-content .entry-content > .alignwide {
    margin-left: -180px;
    margin-right: -180px;
    max-width: calc(100% + 360px); /* 360 equals sum of left and right margin */
    width: auto;
  }

  .alignfull .alignwide,
  .alignwide .alignwide {
    max-width: 1062px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 781px) {
  .site-container .wp-block-column {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 16px;
  }
}
